<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Компания БПЛэлектро</h1>
        <div class="page-tags">
          <a href="#" class="page-tags__item sub-20">Вакансии</a>
          <a href="#" class="page-tags__item sub-20">Договор оферты</a>
        </div>

        <section class="page-section">
          <div class="text-section-w-sidebar-img">
            <div class="text-section-w-sidebar-img__content">
              <div class="text-section-w-sidebar-img__content-title">
                Компания БПЛэлектро занимается оптовой и розничной торговлей электротехнической и светотехнической
                продукцией.
              </div>
              <div class="editior-content">
                <p>С 2009 года мы поставляем электротехническую продукцию по всей Республике Беларусь.</p>
                <p>
                  У нас представлен широкий ассортимент товаров известных европейских и отечественных производителей:
                </p>
                <ul>
                  <li>Автоматика</li>
                  <li>Светотехника</li>
                  <li>Электроустановочные изделия</li>
                  <li>Металлические и пластиковые корпуса</li>
                  <li>Молниезащита</li>
                  <li>Кабельно-проводниковая продукция</li>
                  <li>Низковольтовое оборудование</li>
                </ul>
                <br />
                <p>Мы являемся региональным лидером по объему продаж электротехнической продукции TDM ELECTRIC.</p>
              </div>
            </div>
            <div class="text-section-w-sidebar-img__sidebar">
              <img src="./img/text-section-img-1.jpg" alt="" class="text-section-w-sidebar-img__img" />
            </div>
          </div>
        </section>

        <section class="page-section">
          <div class="person-section">
            <div class="person-section__image-box">
              <img src="./img/text-section-img-4.png" alt="" />
            </div>
            <div class="person-section__content-box">
              <div class="person-section__content-box-inner">
                <div class="person-section__content-box-title">
                  Мы работаем только с официальными поставщиками и проверенными производителями, поэтому, приобретая в
                  «БПЛэлектро» необходимое оборудование и комплектующие, вы можете быть абсолютно уверены в их качестве.
                </div>
                <div class="person-section__content-box-footer">
                  <p>С уважением,</p>
                  <p class="person-section__content-name">Иванов Иван Иванович</p>
                  <p>
                    Генеральный директор <br />
                    БПЛэлектро
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="page-section">
          <div class="advantages-section">
            <div class="advantages-section__item">
              <div class="dvantages-section__item-number h1">15+</div>
              <div class="dvantages-section__item-text">
                Лет работаем на рынке оптовой и розничной торговли электрооборудованием
              </div>
            </div>
            <div class="advantages-section__item">
              <div class="dvantages-section__item-number h1">15000+</div>
              <div class="dvantages-section__item-text">Позиций качественных товаров в наличии</div>
            </div>
            <div class="advantages-section__item">
              <div class="dvantages-section__item-number h1">5800+</div>
              <div class="dvantages-section__item-text">Участников нашей Партнерской программы</div>
            </div>
            <div class="advantages-section__item">
              <div class="dvantages-section__item-number h1">30+</div>
              <div class="dvantages-section__item-text">
                Брендов от ведущих производителей Европы, РФ и РБ в онлайн-каталоге
              </div>
            </div>
          </div>
        </section>

        <section class="page-section">
          <div class="page-section__title h3">Почему наши клиенты выбирают нас</div>
          @@include("../blocks/modules/why-section/index.html")
        </section>

        <section class="page-section">
          <div class="page-section__title h3">Наши сертификаты</div>
          @@include("../blocks/modules/sert-section/index.html")
        </section>

        <section class="page-section">
          <div class="page-section__title h3">Бренды, представленные у нас в ассортименте</div>
          @@include("../blocks/modules/brands-section/index.html")
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
