<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Акции</h1>
        <section class="page-section">
          <div class="actions-grid">
            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #ea5c21">
                <div class="action-card__content">
                  <div class="action-card__tag">Действует до 19.09.2024</div>
                  <div class="action-card__title">Настольный светильник для детей и взрослых!</div>
                  <div class="action-card__description">
                    Светильник-ночник JS5-TOCO в форме тукана порадует и ребёнка, и взрослого.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-4.png" alt="" /></div>
              </a>
            </div>

            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #114335">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Действует до 19.09.2024</div>
                    <div class="action-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-1.png" alt="" /></div>
              </a>
            </div>
            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #73447c">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Действует до 19.09.2024</div>
                    <div class="action-card__title">НОВИНКА весеннего сезона!</div>
                  </div>

                  <div class="action-card__description">
                    Светильник светодиодный (подставка для цветов) PMG 001 LED 14w 4000K и PMG 002 LED 14w 4000K
                    Jazzway.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-2.png" alt="" /></div>
              </a>
            </div>
            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #ea5c21">
                <div class="action-card__content">
                  <div class="action-card__tag">Действует до 19.09.2024</div>
                  <div class="action-card__title">Настольный светильник для детей и взрослых!</div>
                  <div class="action-card__description">
                    Светильник-ночник JS5-TOCO в форме тукана порадует и ребёнка, и взрослого.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-4.png" alt="" /></div>
              </a>
            </div>

            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #114335">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Действует до 19.09.2024</div>
                    <div class="action-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-1.png" alt="" /></div>
              </a>
            </div>
            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #73447c">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Действует до 19.09.2024</div>
                    <div class="action-card__title">НОВИНКА весеннего сезона!</div>
                  </div>

                  <div class="action-card__description">
                    Светильник светодиодный (подставка для цветов) PMG 001 LED 14w 4000K и PMG 002 LED 14w 4000K
                    Jazzway.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-2.png" alt="" /></div>
              </a>
            </div>
            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #73447c">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Действует до 19.09.2024</div>
                    <div class="action-card__title">НОВИНКА весеннего сезона!</div>
                  </div>

                  <div class="action-card__description">
                    Светильник светодиодный (подставка для цветов) PMG 001 LED 14w 4000K и PMG 002 LED 14w 4000K
                    Jazzway.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-2.png" alt="" /></div>
              </a>
            </div>

            <div class="actions-grid__item">
              <a href="#" class="action-card" style="background-color: #114335">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Действует до 19.09.2024</div>
                    <div class="action-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-1.png" alt="" /></div>
              </a>
            </div>
            <div class="actions-grid__item">
              <a href="#" class="action-card is-disabled" style="background-color: #73447c">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Завершена</div>
                    <div class="action-card__title">НОВИНКА весеннего сезона!</div>
                  </div>

                  <div class="action-card__description">
                    Светильник светодиодный (подставка для цветов) PMG 001 LED 14w 4000K и PMG 002 LED 14w 4000K
                    Jazzway.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-2.png" alt="" /></div>
              </a>
            </div>
            <div class="actions-grid__item">
              <a href="#" class="action-card is-disabled" style="background-color: #73447c">
                <div class="action-card__content">
                  <div>
                    <div class="action-card__tag">Завершена</div>
                    <div class="action-card__title">НОВИНКА весеннего сезона!</div>
                  </div>

                  <div class="action-card__description">
                    Светильник светодиодный (подставка для цветов) PMG 001 LED 14w 4000K и PMG 002 LED 14w 4000K
                    Jazzway.
                  </div>
                </div>
                <div class="action-card__img"><img src="./img/action-2.png" alt="" /></div>
              </a>
            </div>
          </div>
        </section>
        @@include("../blocks/modules/catalog-pagination/index.html")
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
