<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">!!Возобновляем начисления бонусов на Кабель!!</h1>
        <div class="action-detail-banner" style="background-color: #98ae40">
          <div class="action-detail-banner__content">
            <div class="action-detail-banner__tag">Действует до 19.09.2024</div>
            <div class="action-detail-banner__title h6">
              ‼️Возобновляем начисления бонусов на Кабель ВВГ-П НГ(А)-LS 3*1,5 ,3*2,5 , 2*1,5 и 2*2,5‼️
            </div>
          </div>
          <div class="action-card__img"><img src="./img/action-detail.png" alt="" /></div>
        </div>
        <div class="action-detail__body">
          <div class="action-detail__content">
            <div class="text-section-w-sidebar-img__date">16.03.2022</div>
            <div class="editior-content">
              <p>Дорогие друзья! В магазине БПЛэлектро СУПЕР предложение!</p>
              <br />
              <p>У нас представлен широкий ассортимент товаров известных европейских и отечественных производителей:</p>
              <ul>
                <li>Автоматика</li>
                <li>Светотехника</li>
                <li>Электроустановочные изделия</li>
                <li>Металлические и пластиковые корпуса</li>
                <li>Молниезащита</li>
                <li>Кабельно-проводниковая продукция</li>
                <li>Низковольтовое оборудование</li>
              </ul>
              <br />
              <p>Мы являемся региональным лидером по объему продаж электротехнической продукции TDM ELECTRIC.</p>
              <p>Перейти к товарам вы можете по ссылкам:</p>
              <br />
              <a href="#"> Розетка двойная 2П+З с защ. шт. и прозрачной крышкой 16А 250В IP44 белая Таймыр TDM  </a>
              <br />
              <a href="#">Розетка двойная 2П+З с защ. шт. и крышкой 16А 250В IP44 белая Таймыр TDM</a>
              <br />
              <a href="#"> Розетка двойная 2П+З с защ. шт. и прозрачной крышкой 16А 250В IP44 белая Таймыр TDM  </a>
              <br />
              <a href="#">Розетка двойная 2П+З с защ. шт. и крышкой 16А 250В IP44 белая Таймыр TDM</a>
            </div>
          </div>
          <div class="action-detail__other-actions">
            <div class="action-detail__other-actions-title h6">Другие акции</div>
            <div class="action-detail__other-actions-list">
              <div class="action-detail__other-actions-item">
                <a href="#" class="action-card" style="background-color: #114335">
                  <div class="action-card__content">
                    <div>
                      <div class="action-card__tag">Действует до 19.09.2024</div>
                      <div class="action-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                    </div>
                  </div>
                  <div class="action-card__img"><img src="./img/action-1.png" alt="" /></div>
                </a>
              </div>
              <div class="action-detail__other-actions-item">
                <a href="#" class="action-card" style="background-color: #114335">
                  <div class="action-card__content">
                    <div>
                      <div class="action-card__tag">Действует до 19.09.2024</div>
                      <div class="action-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                    </div>
                  </div>
                  <div class="action-card__img"><img src="./img/action-1.png" alt="" /></div>
                </a>
              </div>
              <div class="action-detail__other-actions-item">
                <a href="#" class="action-card" style="background-color: #114335">
                  <div class="action-card__content">
                    <div>
                      <div class="action-card__tag">Действует до 19.09.2024</div>
                      <div class="action-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                    </div>
                  </div>
                  <div class="action-card__img"><img src="./img/action-1.png" alt="" /></div>
                </a>
              </div>
            </div>
            <div class="action-detail__other-actions-more">
              <div class="more-link">
                Все акции

                <div class="more-link__arrow">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                      stroke="#114335"
                      stroke-opacity="0.4"
                      stroke-width="1.5"
                      stroke-linecap="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
