<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Бренды</h1>
        <section class="page-section">
          <div class="brands">
            <div class="brands-filter-row">
              <a href="#" class="brands-filter-row__link text-link is-active">Все бренды</a>
              <a href="#" class="brands-filter-row__link text-link">0 — 9</a>
              <a href="#" class="brands-filter-row__link text-link">А — Я</a>
              <a href="#" class="brands-filter-row__link text-link">A — Z</a>
            </div>
            <div class="brands-filter-row-2">
              <a href="#" class="brands-filter-row-2__item text-link is-active">A</a>
              <a href="#" class="brands-filter-row-2__item text-link">B</a>
              <a href="#" class="brands-filter-row-2__item text-link">C</a>
              <a href="#" class="brands-filter-row-2__item text-link">D</a>
              <a href="#" class="brands-filter-row-2__item text-link">E</a>
              <a href="#" class="brands-filter-row-2__item text-link">F</a>
              <a href="#" class="brands-filter-row-2__item text-link">G</a>
              <a href="#" class="brands-filter-row-2__item text-link">H</a>
              <a href="#" class="brands-filter-row-2__item text-link">I</a>
              <a href="#" class="brands-filter-row-2__item text-link">J</a>
              <a href="#" class="brands-filter-row-2__item text-link">K</a>
              <a href="#" class="brands-filter-row-2__item text-link">L</a>
              <a href="#" class="brands-filter-row-2__item text-link">M</a>
              <a href="#" class="brands-filter-row-2__item text-link">N</a>
              <a href="#" class="brands-filter-row-2__item text-link">O</a>
              <a href="#" class="brands-filter-row-2__item text-link">P</a>
              <a href="#" class="brands-filter-row-2__item text-link">Q</a>
              <a href="#" class="brands-filter-row-2__item text-link">R</a>
              <a href="#" class="brands-filter-row-2__item text-link">S</a>
              <a href="#" class="brands-filter-row-2__item text-link">T</a>
              <a href="#" class="brands-filter-row-2__item text-link">U</a>
              <a href="#" class="brands-filter-row-2__item text-link">V</a>
              <a href="#" class="brands-filter-row-2__item text-link">W</a>
              <a href="#" class="brands-filter-row-2__item text-link">X</a>
              <a href="#" class="brands-filter-row-2__item text-link">Y</a>
              <a href="#" class="brands-filter-row-2__item text-link">Z</a>
            </div>

            <div class="brands__grid">
              <div class="brands__grid-row">
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Abox</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Alu-Maxi</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Allen Bradley</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">AURA</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ATLAS NORTON</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
              </div>
              <div class="brands__grid-row">
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Abox</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Alu-Maxi</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Allen Bradley</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">AURA</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ATLAS NORTON</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
              </div>

              <div class="brands__grid-row">
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Abox</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Alu-Maxi</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Allen Bradley</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">AURA</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ATLAS NORTON</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
              </div>
              <div class="brands__grid-row">
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Abox</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Alu-Maxi</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Allen Bradley</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">AURA</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ATLAS NORTON</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
              </div>

              <div class="brands__grid-row">
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Abox</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Alu-Maxi</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Allen Bradley</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">AURA</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ATLAS NORTON</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
              </div>
              <div class="brands__grid-row">
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Abox</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Alu-Maxi</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link"> Allen Bradley</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">AURA</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ATLAS NORTON</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ABB</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Alpen</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">ArteLamp</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Atomsvet</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Aitin-Pro</a>
                </div>
                <div class="brands__grid-row-item">
                  <a href="#" class="brands__grid-row-link">Astrohim</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
