<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Списки сравнения</h1>
        <section class="page-section">
          <div class="comparison-table__wr">
            <div class="comparison-table">
              <div class="comparison-table__row">
                <div class="comparison-table__col">
                  <div class="comparison-table__differences-btn-wr">
                    <div class="comparison-table__differences-btn">
                      <label class="form-input is-checkbox checkbox-input">
                        <input type="checkbox" name="privacy" class="input" />
                        <div class="checkbox-input__check">
                          <div class="checkbox-input__check-icon">
                            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M7 1L3.22307 4.66247C3.02913 4.85054 2.72087 4.85054 2.52693 4.66247L1 3.18182"
                                stroke="#114335"
                                stroke-width="2"
                                stroke-linecap="round"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="checkbox-input__placeholder">Показать только отличия</div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="comparison-table__col">
                  <div class="comparison-table-card">
                    <div class="comparison-table-card__dell">
                      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13 0L1 12M13 12L1 1.09491e-05"
                          stroke="#9F9F9F"
                          stroke-width="1.5"
                          stroke-linecap="round"
                        />
                      </svg>
                    </div>
                    <div class="comparison-table-card__img-wr">
                      <img src="./img/product-1.png" alt="" class="comparison-table-card__img" />
                    </div>
                    <div class="comparison-table-card__title">Саморез ЕКТ 6.0x90 / B009180 (25шт, желтый цинк)</div>
                    <div class="comparison-table-card__prize-wr">
                      <span class="comparison-table-card__prize">8.59 руб</span>
                      <span class="comparison-table-card__prize-dop">за шт.</span>
                    </div>
                    <button type="button" class="catalog-card__cart-button button is-primary is-tiny">
                      <span class="catalog-card__cart-button-text">В корзину</span>
                    </button>
                    <div class="catalog-card__availability">
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5ZM4.71453 7.14043L7.59364 3.54154L7.07306 3.12508L4.61883 6.19287L2.88008 4.74391L2.45329 5.25605L4.71453 7.14043Z"
                          fill="#114335"
                        />
                      </svg>
                      <div class="catalog-card__availability-text">На складах</div>
                      <div class="catalog-card__availability-counter">(58)</div>
                    </div>
                  </div>
                </div>
                <div class="comparison-table__col">
                  <div class="comparison-table-card">
                    <div class="comparison-table-card__dell">
                      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M13 0L1 12M13 12L1 1.09491e-05"
                          stroke="#9F9F9F"
                          stroke-width="1.5"
                          stroke-linecap="round"
                        />
                      </svg>
                    </div>
                    <div class="comparison-table-card__img-wr">
                      <img src="./img/product-1.png" alt="" class="comparison-table-card__img" />
                    </div>
                    <div class="comparison-table-card__title">Саморез ЕКТ 6.0x90 / B009180 (25шт, желтый цинк)</div>
                    <div class="comparison-table-card__prize-wr">
                      <span class="comparison-table-card__prize">8.59 руб</span>
                      <span class="comparison-table-card__prize-dop">за шт.</span>
                    </div>
                    <button type="button" class="catalog-card__cart-button button is-primary is-tiny">
                      <span class="catalog-card__cart-button-text">В корзину</span>
                    </button>
                    <div class="catalog-card__availability">
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5ZM4.71453 7.14043L7.59364 3.54154L7.07306 3.12508L4.61883 6.19287L2.88008 4.74391L2.45329 5.25605L4.71453 7.14043Z"
                          fill="#114335"
                        />
                      </svg>
                      <div class="catalog-card__availability-text">На складах</div>
                      <div class="catalog-card__availability-counter">(58)</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comparison-table__row is-title">
                <div class="comparison-table__col">
                  <div class="comparison-table__row-title">Основное</div>
                </div>
              </div>

              <div class="comparison-table__row">
                <div class="comparison-table__col">Тип</div>
                <div class="comparison-table__col">Саморез</div>
                <div class="comparison-table__col">Саморез</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Форма головки</div>
                <div class="comparison-table__col">потайная</div>
                <div class="comparison-table__col">потайная</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Тип шлица</div>
                <div class="comparison-table__col">крестообразный</div>
                <div class="comparison-table__col">крестообразный (PZ2)</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Вид наконечника</div>
                <div class="comparison-table__col">острый</div>
                <div class="comparison-table__col">острый</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Прессшайба</div>
                <div class="comparison-table__col">—</div>
                <div class="comparison-table__col">нет</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Материал</div>
                <div class="comparison-table__col">сталь (нержавеющая)</div>
                <div class="comparison-table__col">сталь</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Покрытие</div>
                <div class="comparison-table__col">—</div>
                <div class="comparison-table__col">оцинкованное</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Цвет</div>
                <div class="comparison-table__col">—</div>
                <div class="comparison-table__col">желтый цинк</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Кол-во в упаковке</div>
                <div class="comparison-table__col">20 шт.</div>
                <div class="comparison-table__col">25 шт.</div>
              </div>
              <div class="comparison-table__row is-title">
                <div class="comparison-table__col">
                  <div class="comparison-table__row-title">Размеры</div>
                </div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Диаметр резьбы</div>
                <div class="comparison-table__col">4 мм</div>
                <div class="comparison-table__col">6 мм</div>
              </div>
              <div class="comparison-table__row">
                <div class="comparison-table__col">Длина общая</div>
                <div class="comparison-table__col">30 мм</div>
                <div class="comparison-table__col">90 мм</div>
              </div>
            </div>
          </div>
        </section>
        <section class="page-section">
          <div class="page-section__title h6">Просмотренные товары</div>
          <div class="product-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
              </div>
            </div>
            <div class="popular-series__slider-arrows swiper-arrows-wr mobile-hidden">
              <div class="swiper-arrow is-prev">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9 1L1.65345 7.58579C0.782183 8.36684 0.782183 9.63317 1.65345 10.4142L9 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              <div class="swiper-arrow is-next">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 1L8.34655 7.58579C9.21782 8.36684 9.21782 9.63317 8.34655 10.4142L1 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </div>
            <div class="swiper__pagination swiper-pagination-wr is-center mobile-visible"></div>
          </div>
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
