<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <style>
        .site-links {
          display: flex;
          flex-direction: column;
          padding: 4rem 0 6rem;
        }

        .site-links__item {
          font-weight: 500;
          font-size: 2rem;
          margin-bottom: 2rem;
          text-transform: uppercase;
          width: max-content;
        }
      </style>
      <div class="container">
        <div class="site-links">
          <a href="./home.html" target="_blank" class="site-links__item">Главная</a>
          <a href="./about.html" target="_blank" class="site-links__item">Компания БПЛэлектро</a>
          <a href="./vacancy.html" target="_blank" class="site-links__item">Вакансии</a>
          <a href="./public.html" target="_blank" class="site-links__item">Договор публичной оферты</a>
          <a href="./for-busines.html" target="_blank" class="site-links__item">Для бизнеса</a>
          <a href="./news.html" target="_blank" class="site-links__item">Новости</a>
          <a href="./news-detail.html" target="_blank" class="site-links__item">Новость детально</a>
          <a href="./actions.html" target="_blank" class="site-links__item">Акции</a>
          <a href="./action.html" target="_blank" class="site-links__item">Акция детально</a>
          <a href="./contacts.html" target="_blank" class="site-links__item">Контакты</a>
          <a href="./brands.html" target="_blank" class="site-links__item">Бренды</a>
          <a href="./bonuses.html" target="_blank" class="site-links__item">Бонусная программа</a>
          <a href="./faq.html" target="_blank" class="site-links__item">Часто задаваемые вопросы</a>
          <!-- <a href="./search-result.html" target="_blank" class="site-links__item">Результаты поиска</a> -->
          <a href="./comparison-lists.html" target="_blank" class="site-links__item">Списки сравнения</a>
          <a href="./comparison.html" target="_blank" class="site-links__item">Сравнения</a>
          <a href="./profile-fiz-personal-data.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Личные данные
          </a>
          <a href="./profile-fiz-orders-placed.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Оформленные заказы
          </a>
          <a href="./profile-fiz-orders-postopened.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Отложенные заказы
          </a>
          <a href="./profile-fiz-order-templates.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Шаблоны заказов
          </a>
          <a href="./profile-fiz-favorite-products.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Избранные товары
          </a>
          <a href="./profile-fiz-bonus-program.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Бонусная программа
          </a>
          <a href="./profile-fiz-postopened-order.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Отложенный заказ
          </a>
          <a href="./profile-fiz-placed-order.html" target="_blank" class="site-links__item">
            ЛК физ.лицо Оформленный заказ
          </a>

          <a href="./profile-company-data.html" target="_blank" class="site-links__item">
            ЛК юр.лицо Данные компании
          </a>
          <a href="./profile-orders-placed.html" target="_blank" class="site-links__item">
            ЛК юр.лицо Оформленные заказы
          </a>
          <a href="./profile-orders-postopened.html" target="_blank" class="site-links__item">
            ЛК юр.лицо Отложенные заказы
          </a>
          <a href="./profile-help.html" target="_blank" class="site-links__item"> ЛК юр.лицо Помощь </a>
          <a href="./profile-placed-order.html" target="_blank" class="site-links__item">
            ЛК юр.лицо Оформленный заказ
          </a>
          <a href="./catalog-fiz.html" target="_blank" class="site-links__item"> Каталог физлицо </a>
          <a href="./product-fiz.html" target="_blank" class="site-links__item"> Карточка товара физ лицо </a>
        </div>
      </div>
    </main>
    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
