<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <style>
        .site-links {
          display: flex;
          flex-direction: column;
          padding: 4rem 0 6rem;
        }

        .site-links__item {
          font-weight: 500;
          font-size: 2rem;
          margin-bottom: 2rem;
          text-transform: uppercase;
          width: max-content;
        }
      </style>
      <div class="container">
        <div class="site-links">
          <a href="./home.html" target="_blank" class="site-links__item">Главная</a>
          <a href="./about.html" target="_blank" class="site-links__item">Компания БПЛэлектро</a>
          <a href="./vacancy.html" target="_blank" class="site-links__item">Вакансии</a>
        </div>
      </div>
    </main>
    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
