<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Новости</h1>
        <section class="page-section">
          <div class="news-grid">
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-1.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-2.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">НОВИНКА от Евроавтоматики ФиФ!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-3.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Настольный светильник для детей и взрослых!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-4.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Силовые удлинители на металлической катушке</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-5.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Яркие новинки для самых маленьких!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-6.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Как сэкономить ваши ресурсы? Мы подскажем!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-7.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Лучшие цены! Снижены цены на кабель ВВГ Пнг 3*1,5 и 3*2,5</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-8.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">10 слёт партнёров TDM Electric</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-9.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">И снова новинка! Розетка двойная серии "Таймыр" от TDM ELECTRIC</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>

        <div class="catalog-pagination">
          <a href="#" class="catalog-pagination__arrow netbook-hidden">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.667 8H4.00033M7.33366 4L3.80506 7.5286C3.54471 7.78894 3.54471 8.21106 3.80506 8.4714L7.33366 12"
                stroke="#C0C0C0"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>

            Предыдущая страница
          </a>
          <div class="catalog-pagination__buttons">
            <a href="#" class="catalog-pagination__button"> 1 </a>
            <a href="#" class="catalog-pagination__button is-active"> 2 </a>
            <a href="#" class="catalog-pagination__button"> 3 </a>
            <a href="#" class="catalog-pagination__button"> 4 </a>
            <div class="catalog-pagination__button is-empty">...</div>
            <a href="#" class="catalog-pagination__button"> 23 </a>
          </div>
          <a href="#" class="catalog-pagination__arrow netbook-hidden">
            Следующая страница
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.33301 8H11.9997M8.66634 4L12.1949 7.5286C12.4553 7.78894 12.4553 8.21106 12.1949 8.4714L8.66634 12"
                stroke="#C0C0C0"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
