<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">И снова новинка! Розетка двойная серии "Таймыр" от TDM ELECTRIC</h1>

        <section class="page-section">
          <div class="text-section-w-sidebar-img">
            <div class="text-section-w-sidebar-img__content">
              <div class="text-section-w-sidebar-img__date">16.03.2022</div>
              <div class="text-section-w-sidebar-img__content-title">
                Устройства идеально подойдут для оформления общественных, производственных, торговых помещений.
              </div>

              <div class="editior-content">
                <p>Материалы:</p>
                <ul>
                  <li>корпус из самозатухающего АБС-пластика;</li>
                  <li>контакты розеток из высокоупругой фосфористой бронзы;</li>
                  <li>контакты выключателей металлокерамические (AgNi);</li>
                </ul>
                <br />
                <p>Преимущества:</p>
                <ul>
                  <li>Керамическое основание механизмов;</li>
                  <li>Прочный металлический суппорт с монтажными «лапками» изготовлен из оцинкованной стали;</li>
                  <li>Подпружиненный шток выключателя;</li>
                </ul>
                <br />
                <br />
                <p>Перейти к товарам вы можете по ссылкам:</p>
                <a href="#"> Розетка двойная 2П+З с защ. шт. и прозрачной крышкой 16А 250В IP44 белая Таймыр TDM  </a>
                <br />
                <br />
                <a href="#">Розетка двойная 2П+З с защ. шт. и крышкой 16А 250В IP44 белая Таймыр TDM</a>
              </div>
            </div>
            <div class="text-section-w-sidebar-img__sidebar">
              <img src="./img/text-section-img-3.jpg" alt="" class="text-section-w-sidebar-img__img" />
            </div>
          </div>
        </section>
        <section class="page-section">
          <div class="page-section__title-wr">
            <div class="page-section__title h3">Другие новости</div>
            <a href="#" class="more-link mobile-hidden">
              Все новости

              <div class="more-link__arrow">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                    stroke="#114335"
                    stroke-opacity="0.4"
                    stroke-width="1.5"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div class="news-grid">
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-1.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Ландшафтные светильники ФАZА! Расширение ассортимента!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-2.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">НОВИНКА от Евроавтоматики ФиФ!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-grid__item">
              <a href="#" class="news-card">
                <div class="news-card__image">
                  <img src="./img/news/news-3.png" alt="" class="fit-cover" />
                </div>
                <div class="news-card__content">
                  <div class="news-card__date">07.06.2024</div>
                  <div class="news-card__title">Настольный светильник для детей и взрослых!</div>
                  <div class="news-card__more">
                    <div class="more-link">
                      Подробнее

                      <div class="more-link__arrow">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M3.33337 8H12M8.66671 4L12.1953 7.5286C12.4557 7.78894 12.4557 8.21106 12.1953 8.4714L8.66671 12"
                            stroke="#114335"
                            stroke-opacity="0.4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
