<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h2 page-title">ARMAT Автоматический выключатель M06N 1P C 10А IEK</h1>

        <div class="product-page page-section">
          <div class="product-page__main-section">
            <div class="product-page__main-section-top">
              <div class="product-page-slider-wr">
                <div class="catalog-card__bonuses">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10.8 1.60001C11.4627 1.60001 12 2.13726 12 2.80001V4.00001H0V2.80001C0 2.13726 0.537258 1.60001 1.2 1.60001H10.8Z"
                      fill="#EA5C21"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0 4.80001V9.20001C0 9.86275 0.537259 10.4 1.2 10.4L10.8 10.4C11.4627 10.4 12 9.86275 12 9.20001V4.80001H0ZM1.6 8.00001H6.4V7.20001H1.6V8.00001ZM10.4 8.00001H8V7.20001H10.4V8.00001Z"
                      fill="#EA5C21"
                    ></path>
                  </svg>
                  <span class="catalog-card__bonuses-value">+7.65</span>
                </div>
                <div class="product-page-slider">
                  <div class="product-page-slider__main">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-7.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-page-slider__thumbs netbook-hidden">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-7.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                          <img src="./img/product-page-1.png" alt="" />
                        </div>
                      </div>
                    </div>
                    <div class="swiper-arrow is-prev">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12.7273 9.09091L10.3324 11.4857C10.0484 11.7698 10.0484 12.2302 10.3324 12.5143L12.7273 14.9091M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z"
                          stroke="#6A6A6A"
                          stroke-width="1.5"
                          stroke-linecap="round"
                        />
                      </svg>
                    </div>
                    <div class="swiper-arrow is-next">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.2727 9.09091L13.6676 11.4857C13.9516 11.7698 13.9516 12.2302 13.6676 12.5143L11.2727 14.9091M12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20Z"
                          stroke="#6A6A6A"
                          stroke-width="1.5"
                          stroke-linecap="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
                <div></div>
              </div>
              <div class="product-page__info-table">
                <div class="product-page__info-table-row is-small">
                  <div class="product-page__info-table-row-label">Брeнд</div>
                  <div class="product-page__info-table-row-value">
                    <img src="./img/product-brand.png" alt="" />
                  </div>
                </div>
                <div class="product-page__info-table-row is-small">
                  <div class="product-page__info-table-row-label">
                    Артикул<br />
                    <span class="is-black-text">AR-M06N-1-C</span>
                  </div>
                  <div class="product-page__info-table-row-value">
                    Код<br />
                    <span class="is-black-text">AR-M06N-1-C</span>
                  </div>
                </div>
                <div class="product-page__info-table-row">
                  <div class="product-page__info-table-row-label">Количество полюсов</div>
                  <div class="product-page__info-table-row-value">2</div>
                </div>
                <div class="product-page__info-table-row">
                  <div class="product-page__info-table-row-label">Номинальный отключающий дифференциальный ток, мА</div>
                  <div class="product-page__info-table-row-value">30</div>
                </div>
                <div class="product-page__info-table-row">
                  <div class="product-page__info-table-row-label">Номинальный ток, А</div>
                  <div class="product-page__info-table-row-value">16</div>
                </div>
                <div class="product-page__info-table-row">
                  <div class="product-page__info-table-row-label">
                    Рабочая характеристика при наличии дифференциального тока
                  </div>
                  <div class="product-page__info-table-row-value">AC</div>
                </div>
                <div class="product-page__info-table-all" data-anchor="product-tabs">
                  <div class="is-green-text text-link">Все характеристики</div>
                </div>
              </div>
            </div>
            <div class="product-page-tabs tabs" id="product-tabs">
              <div class="scroll-container hidden-scrollbar">
                <div class="scroll-shadow scroll-shadow--top"></div>
                <div class="scroll-shadow scroll-shadow--bottom"></div>
                <div class="scroll-container__content">
                  <div class="tabs__header">
                    <div class="tabs__button is-title is-active" data-tab="1">Ассортимент</div>
                    <div class="tabs__button is-title" data-tab="2">Описание</div>
                    <div class="tabs__button is-title" data-tab="3">Характеристики</div>
                    <div class="tabs__button is-title" data-tab="4">Документы</div>
                    <div class="tabs__button is-title" data-tab="5">Видео</div>
                  </div>
                </div>
              </div>

              <div class="tabs__content">
                <div class="tabs__content-box is-tab-1 is-active"></div>
                <div class="tabs__content-box is-tab-2">
                  <div class="editor-content">
                    <p><strong>Назначение</strong></p>
                    <ul>
                      <li>Защита от токов перегрузки и короткого замыкания.</li>
                      <li>
                        Отключение тока при прикосновении человека к токоведущим частям электроустановок или протекании
                        дифференциального (утечки) тока на землю.
                      </li>
                      <li>Проведение тока в нормальном режиме.</li>
                      <li>Защита от пожара.</li>
                      <li>Защита от токов утечки.</li>
                    </ul>
                    <br />
                    <p><strong>Применение</strong></p>
                    <ul>
                      <li>Инфраструктурные объекты.</li>
                      <li>Розеточные группы ванных и душевых помещений.</li>
                      <li>Цепи освещения подвалов и гаражей.</li>
                      <li>Жилые дома.</li>
                      <li>Групповые линии, питающие розетки наружной установки.</li>
                    </ul>
                    <br />
                    <p><strong>Преимущества</strong></p>
                    <ul>
                      <li>
                        Насечки на контактных зажимах предотвращают перегрев и оплавление проводов за счет более
                        плотного и большего по площади контакта.
                      </li>
                      <li>Экономичное решения для вашего дома.</li>
                    </ul>
                    <br />
                    <p><strong>Конструкция</strong></p>
                    <ul>
                      <li>На лицевой панели реализовано окошко отображающее срабатывание АВДТ – индикации утечки.</li>
                      <li>Аппарат занимает два стандартных модуля в щитке (36мм).</li>
                      <li>
                        Аппарат АВДТ 32 4,5 кА представляет собой компактный дифференциальный автомат и сочетает в себе
                        функции авт вык-ля и вык-ля дифф тока.
                      </li>
                    </ul>
                    <br />
                    <p><strong>Материалы</strong></p>
                    <ul>
                      <li>Контактные группы снабжены серебряными наплавками для увеличения срока службы контактов.</li>
                      <li>Корпус и детали выполнены из пластика, не поддерживающего горение.</li>
                      <li>
                        Маркировка выполнена в соответствии с требованиями ГОСТ и не подвержена стиранию в пределах
                        срока эксплуатации.
                      </li>
                    </ul>
                    <br />
                    <h6>Характеристики от производителя</h6>
                    <br />
                    <table>
                      <tr>
                        <td>Глубина установочная (встраив.)</td>
                        <td style="text-align: right">72</td>
                      </tr>
                      <tr>
                        <td>С блокировкой</td>
                        <td style="text-align: right">Нет</td>
                      </tr>
                      <tr>
                        <td>Поперечн. сечение подключ. многопроволочного (гибкого) провода</td>
                        <td style="text-align: right">0,01 ... 0,01</td>
                      </tr>
                      <tr>
                        <td>Одновременное отключение нейтрали (N)</td>
                        <td style="text-align: right">Да</td>
                      </tr>
                      <tr>
                        <td>N - Номинальное импульсное выдерживаемое напряжение Uimp</td>
                        <td style="text-align: right">0.01</td>
                      </tr>
                      <tr>
                        <td>Номин. отключающая способность по EN</td>
                        <td style="text-align: right">60898 4.5</td>
                      </tr>
                      <tr>
                        <td>Номин. напряжение изоляции</td>
                        <td style="text-align: right">Ui 0.01</td>
                      </tr>
                      <tr>
                        <td>Степень защиты (IP)</td>
                        <td style="text-align: right">IP20</td>
                      </tr>
                      <tr>
                        <td>Номинальный ток, А</td>
                        <td style="text-align: right">16</td>
                      </tr>
                    </table>
                    <br />
                    <h6>Описание товарной группы</h6>
                    <ul>
                      <li>Защита от токов перегрузки и короткого замыкания.</li>
                      <li>
                        Отключение тока при прикосновении человека к токоведущим частям электроустановок или протекании
                        дифференциального (утечки) тока на землю.
                      </li>
                      <li>Проведение тока в нормальном режиме.</li>
                      <li>Защита от пожара.</li>
                      <li>Защита от токов утечки.</li>
                      <li>Защита от токов перегрузки и короткого замыкания.</li>
                      <li>
                        Отключение тока при прикосновении человека к токоведущим частям электроустановок или протекании
                        дифференциального (утечки) тока на землю.
                      </li>
                      <li>Проведение тока в нормальном режиме.</li>
                      <li>Защита от пожара.</li>
                      <li>Защита от токов утечки.</li>
                      <li>Защита от токов перегрузки и короткого замыкания.</li>
                    </ul>
                  </div>
                </div>
                <div class="tabs__content-box is-tab-3">
                  <div class="characteristics-table">
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Мощность</div>
                      <div class="characteristics-table-row-value">Вт:30</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Напряжение</div>
                      <div class="characteristics-table-row-value">В:220</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Особенность</div>
                      <div class="characteristics-table-row-value">Нет</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Патрон</div>
                      <div class="characteristics-table-row-value">Светодиодный модуль</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Степень защиты</div>
                      <div class="characteristics-table-row-value">IP65</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Тип источника света</div>
                      <div class="characteristics-table-row-value">Светодиодный модуль</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Тип светильника</div>
                      <div class="characteristics-table-row-value">Прожектор</div>
                    </div>
                    <div class="characteristics-table-row">
                      <div class="characteristics-table-row-label">Цвет свечения</div>
                      <div class="characteristics-table-row-value">RGB</div>
                    </div>
                  </div>
                </div>
                <div class="tabs__content-box is-tab-4">
                  <div class="characteristics-table is-docs">
                    <a href="#" class="characteristics-table-row" target="_blank">
                      <div class="characteristics-table-row-label">
                        СЕРТИФИКАТ ЕАЭС № RU С-CN.РТ01.В.03530/21 ТДМ до 27.04.2026 СЕРТИФИКАТ ЕАЭС № RU CN.РТ01
                      </div>
                      <div class="characteristics-table-row-value">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M12 4.5V13.5M16 10.5L12.7071 13.7929C12.3166 14.1834 11.6834 14.1834 11.2929 13.7929L8 10.5M20 20.5H4"
                            stroke="#114335"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                        Скачать
                      </div>
                    </a>
                    <a href="#" class="characteristics-table-row" target="_blank">
                      <div class="characteristics-table-row-label">
                        СЕРТИФИКАТ ЕАЭС № RU С-CN.РТ01.В.03530/21 ТДМ до 27.04.2026
                      </div>
                      <div class="characteristics-table-row-value">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M12 4.5V13.5M16 10.5L12.7071 13.7929C12.3166 14.1834 11.6834 14.1834 11.2929 13.7929L8 10.5M20 20.5H4"
                            stroke="#114335"
                            stroke-width="1.5"
                            stroke-linecap="round"
                          />
                        </svg>
                        Скачать
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tabs__content-box is-tab-5">
                  <div class="video-slider">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <a
                            href="https://www.youtube.com/watch?v=THqD30nEPF4"
                            class="video-slider-card"
                            data-fancybox="video-slider"
                          >
                            <div class="video-slider-card__img">
                              <img src="./img/video-preview-1.png" alt="" class="fit-cover" />
                            </div>
                            <div class="video-slider-card__title">Установка ARMAT Автоматический выключатель M06N</div>
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a
                            href="https://www.youtube.com/watch?v=THqD30nEPF4"
                            class="video-slider-card"
                            data-fancybox="video-slider"
                          >
                            <div class="video-slider-card__img">
                              <img src="./img/video-preview-1.png" alt="" class="fit-cover" />
                            </div>
                            <div class="video-slider-card__title">Установка ARMAT Автоматический выключатель M06N</div>
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a
                            href="https://www.youtube.com/watch?v=THqD30nEPF4"
                            class="video-slider-card"
                            data-fancybox="video-slider"
                          >
                            <div class="video-slider-card__img">
                              <img src="./img/video-preview-1.png" alt="" class="fit-cover" />
                            </div>
                            <div class="video-slider-card__title">Установка ARMAT Автоматический выключатель M06N</div>
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a
                            href="https://www.youtube.com/watch?v=THqD30nEPF4"
                            class="video-slider-card"
                            data-fancybox="video-slider"
                          >
                            <div class="video-slider-card__img">
                              <img src="./img/video-preview-1.png" alt="" class="fit-cover" />
                            </div>
                            <div class="video-slider-card__title">Установка ARMAT Автоматический выключатель M06N</div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-arrow is-next">
                      <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1 1L8.34655 7.58579C9.21782 8.36684 9.21782 9.63317 8.34655 10.4142L1 17"
                          stroke="#6A6A6A"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-page__sidebar">
            <div class="product-page-info">
              <div class="product-page-info__btns">
                <div class="catalog-card__top-btn is-comparison is-active">
                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2054_1953)">
                      <path
                        d="M19 14.5L19 22M14 6L14 22M9 13L9 22"
                        stroke="#9F9F9F"
                        stroke-width="2"
                        stroke-linecap="square"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2054_1953">
                        <rect width="12" height="12" fill="white" transform="translate(20 8) rotate(90)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="catalog-card__top-btn is-favorite is-active">
                  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M18.4 8.00001L9.59998 8V19.6C9.59998 19.7538 9.68811 19.8939 9.8267 19.9605C9.96529 20.0271 10.1298 20.0084 10.2499 19.9124L14 16.9123L17.7501 19.9124C17.8702 20.0084 18.0347 20.0271 18.1733 19.9605C18.3118 19.8939 18.4 19.7538 18.4 19.6V8.00001Z"
                      fill="#9F9F9F"
                    />
                  </svg>
                </div>
              </div>
              <div class="product-page-info__price">
                <div class="product-page-info__price-label">Розничная цена</div>
                <div class="product-page-info__price-main">
                  <span class="h6 is-green-text">24.47 руб</span>
                  <span class="product-page-info__price-main-unit">шт.</span>
                </div>
                <div class="product-page-info__price-bonus">
                  <span class="is-orange-text">+24.47 руб</span>
                  <span>на бонусную карту</span>
                </div>
                <div class="product-page-info__price-info">
                  <div class="product-page-info__price-info-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7.99999 5.33398V8.66732M7.99999 10.6673V10.674M14.6667 8.00065C14.6667 11.6825 11.6819 14.6673 7.99999 14.6673C4.3181 14.6673 1.33333 11.6825 1.33333 8.00065C1.33333 4.31875 4.3181 1.33398 7.99999 1.33398C11.6819 1.33398 14.6667 4.31875 14.6667 8.00065Z"
                        stroke="#9F9F9F"
                        stroke-width="1.5"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>
                  <div class="product-page-info__price-info-text">Цена действительна только для интернет-магазина</div>
                </div>
              </div>
              <div class="product-page-info__available">
                <div class="roduct-page-info__available-tag">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5ZM4.71453 7.14043L7.59364 3.54154L7.07306 3.12508L4.61883 6.19287L2.88008 4.74391L2.45329 5.25605L4.71453 7.14043Z"
                      fill="#114335"
                    />
                  </svg>
                  В наличии
                </div>
                <div class="product-page-info__available-table">
                  <div class="product-page-info__available-table-row">
                    <div class="product-page-info__available-table-label">Лида</div>
                    <div class="product-page-info__available-table-value">1 шт</div>
                  </div>
                  <div class="product-page-info__available-table-row">
                    <div class="product-page-info__available-table-label">Лида Огородники</div>
                    <div class="product-page-info__available-table-value">3 шт</div>
                  </div>
                  <div class="product-page-info__available-table-row">
                    <div class="product-page-info__available-table-label">Склад поставщика (4-10 дней)</div>
                    <div class="product-page-info__available-table-value">0 шт</div>
                  </div>
                </div>
                <div class="product-page-info__footer">
                  <div class="product-page-info__counter">
                    <div class="catalog-card__counter">
                      <div class="catalog-card__counter-button is-minus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M8.79995 6.40001H3.19995V5.60001H8.79995V6.40001Z"
                            fill="#2E2E2E"
                          />
                        </svg>
                      </div>
                      <div class="catalog-card__counter-input">
                        <input type="number" value="1" />
                      </div>
                      <div class="catalog-card__counter-button is-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.59995 5.6V3.2H6.39995V5.6H8.79995V6.4H6.39995V8.8H5.59995V6.4H3.19995V5.6H5.59995Z"
                            fill="#2E2E2E"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="button is-primary">
                    <span class="catalog-card__cart-button-text mobile-hidden">В корзину</span>
                    <div class="atalog-card__cart-button-icon mobile-visible">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1.04512 0.380081L0.0234375 0.686586L3.33746 11.7333H16.0009V4.8C16.0009 3.32724 14.807 2.13333 13.3343 2.13333H1.57109L1.04512 0.380081Z"
                          fill="white"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M5.86771 12.8C4.98405 12.8 4.26771 13.5163 4.26771 14.4C4.26771 15.2837 4.98405 16 5.86771 16C6.75136 16 7.46771 15.2837 7.46771 14.4C7.46771 13.5163 6.75136 12.8 5.86771 12.8ZM5.33438 14.4C5.33438 14.1055 5.57316 13.8667 5.86771 13.8667C6.16226 13.8667 6.40104 14.1055 6.40104 14.4C6.40104 14.6946 6.16226 14.9333 5.86771 14.9333C5.57316 14.9333 5.33438 14.6946 5.33438 14.4Z"
                          fill="white"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M13.3344 12.8C12.4507 12.8 11.7344 13.5163 11.7344 14.4C11.7344 15.2837 12.4507 16 13.3344 16C14.218 16 14.9344 15.2837 14.9344 14.4C14.9344 13.5163 14.218 12.8 13.3344 12.8ZM12.801 14.4C12.801 14.1055 13.0398 13.8667 13.3344 13.8667C13.6289 13.8667 13.8677 14.1055 13.8677 14.4C13.8677 14.6946 13.6289 14.9333 13.3344 14.9333C13.0398 14.9333 12.801 14.6946 12.801 14.4Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="page-section">
          <div class="page-section__title h6">Рекомендуем купить</div>
          <div class="product-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
              </div>
            </div>
            <div class="popular-series__slider-arrows swiper-arrows-wr mobile-hidden">
              <div class="swiper-arrow is-prev">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9 1L1.65345 7.58579C0.782183 8.36684 0.782183 9.63317 1.65345 10.4142L9 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              <div class="swiper-arrow is-next">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 1L8.34655 7.58579C9.21782 8.36684 9.21782 9.63317 8.34655 10.4142L1 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </div>
            <div class="swiper__pagination swiper-pagination-wr is-center mobile-visible"></div>
          </div>
        </section>
        <section class="page-section">
          <div class="page-section__title h6">Просмотренные товары</div>
          <div class="product-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
              </div>
            </div>
            <div class="popular-series__slider-arrows swiper-arrows-wr mobile-hidden">
              <div class="swiper-arrow is-prev">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9 1L1.65345 7.58579C0.782183 8.36684 0.782183 9.63317 1.65345 10.4142L9 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              <div class="swiper-arrow is-next">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 1L8.34655 7.58579C9.21782 8.36684 9.21782 9.63317 8.34655 10.4142L1 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </div>
            <div class="swiper__pagination swiper-pagination-wr is-center mobile-visible"></div>
          </div>
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
