<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Бонусная программа</h1>
        <div class="profile-page">
          <div class="profile-page__sidebar">
            <div class="profile-sidebar-menu">
              <a href="#" class="profile-sidebar-menu__link">
                <span>Личные данные</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Оформленные заказы</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Отложенные заказы</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Шаблоны заказов</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Избранные товары</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link is-active">
                <span>Бонусная программа</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
            </div>
            @@include("../blocks/modules/profile/profile-sidebar-bonus.html")
          </div>
          <div class="profile-page__main">
            <div class="bonus-card">
              <div class="bonus-card__img"><img src="./img/bonus-card.png" alt="" /></div>
              <div class="bonus-card__content">
                <div class="bonus-card__status">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 5L5.41817 7.34712C5.32281 7.43381 5.17719 7.43381 5.08183 7.34712L4 6.36364M11 6C11 8.76142 8.76142 11 6 11C3.23858 11 1 8.76142 1 6C1 3.23858 3.23858 1 6 1C8.76142 1 11 3.23858 11 6Z"
                      stroke="#114335"
                      stroke-width="1.5"
                      stroke-linecap="round"
                    />
                  </svg>
                  <span>Активна</span>
                </div>
                <div class="bonus-card__number">
                  <div class="bonus-card__number-label">Номер бонусной карты</div>
                  <div class="bonus-card__number-value h6">23437674</div>
                </div>
                <div class="bonus-card__block">Заблокировать бонусную карту</div>
              </div>
            </div>
            <div class="accordion">
              <div class="accordion__item js-accordion-item">
                <div class="accordion-item__header js-accordion-item-header">
                  <div class="accordion-item__header-text">Как начисляются бонусы?</div>
                  <div class="accordion-item__button"></div>
                </div>
                <div class="accordion__item-content js-accordion-item__content">
                  <div class="accordion-item__content-inner">
                    <p>Оформить заказ можно несколькими способами:</p>
                    <br />
                    <p>
                      Через личный кабинет на сайте www.bplelektro.by По телефону, контактные телефоны указаны на каждой
                      странице сайта вверху. Отправить письмо на нашу электронную почту
                      <a href="mailto:info@bplelektro.by">info@bplelektro.by</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion__item js-accordion-item">
                <div class="accordion-item__header js-accordion-item-header">
                  <div class="accordion-item__header-text">Как списываются бонусы?</div>
                  <div class="accordion-item__button"></div>
                </div>
                <div class="accordion__item-content js-accordion-item__content">
                  <div class="accordion-item__content-inner">
                    <p>Оформить заказ можно несколькими способами:</p>
                    <br />
                    <p>
                      Через личный кабинет на сайте www.bplelektro.by По телефону, контактные телефоны указаны на каждой
                      странице сайта вверху. Отправить письмо на нашу электронную почту
                      <a href="mailto:info@bplelektro.by">info@bplelektro.by</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion__item js-accordion-item">
                <div class="accordion-item__header js-accordion-item-header">
                  <div class="accordion-item__header-text">Сколько хранятся бонусы?</div>
                  <div class="accordion-item__button"></div>
                </div>
                <div class="accordion__item-content js-accordion-item__content">
                  <div class="accordion-item__content-inner">
                    <p>Оформить заказ можно несколькими способами:</p>
                    <br />
                    <p>
                      Через личный кабинет на сайте www.bplelektro.by По телефону, контактные телефоны указаны на каждой
                      странице сайта вверху. Отправить письмо на нашу электронную почту
                      <a href="mailto:info@bplelektro.by">info@bplelektro.by</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion__item js-accordion-item">
                <div class="accordion-item__header js-accordion-item-header">
                  <div class="accordion-item__header-text">Как сделать возврат бонусов?</div>
                  <div class="accordion-item__button"></div>
                </div>
                <div class="accordion__item-content js-accordion-item__content">
                  <div class="accordion-item__content-inner">
                    <p>Оформить заказ можно несколькими способами:</p>
                    <br />
                    <p>
                      Через личный кабинет на сайте www.bplelektro.by По телефону, контактные телефоны указаны на каждой
                      странице сайта вверху. Отправить письмо на нашу электронную почту
                      <a href="mailto:info@bplelektro.by">info@bplelektro.by</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
