<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="container">
        @@include("../blocks/modules/breadcrumbs/index.html")
        <h1 class="h1 page-title">Избранные товары</h1>
        <div class="profile-page page-section">
          <div class="profile-page__sidebar">
            <div class="profile-sidebar-menu">
              <a href="#" class="profile-sidebar-menu__link">
                <span>Личные данные</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Оформленные заказы</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Отложенные заказы</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Шаблоны заказов</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link is-active">
                <span>Избранные товары</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
              <a href="#" class="profile-sidebar-menu__link">
                <span>Бонусная программа</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="#6A6A6A" />
                </svg>
              </a>
            </div>
            @@include("../blocks/modules/profile/profile-sidebar-bonus.html")
          </div>
          <div class="profile-page__main">
            <section class="page-section">
              <div class="profile-products-grid">
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
                <div class="profile-products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>

                <div class="products-grid__item">@@include("../blocks/modules/catalogCard/index.html")</div>
              </div>
            </section>
          </div>
        </div>
        <section class="page-section">
          <div class="page-section__title h6">Популярные товары</div>
          <div class="product-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
                <div class="swiper-slide product-slider__slide">
                  @@include("../blocks/modules/catalogCard/index.html")
                </div>
              </div>
            </div>
            <div class="popular-series__slider-arrows swiper-arrows-wr mobile-hidden">
              <div class="swiper-arrow is-prev">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9 1L1.65345 7.58579C0.782183 8.36684 0.782183 9.63317 1.65345 10.4142L9 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
              <div class="swiper-arrow is-next">
                <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 1L8.34655 7.58579C9.21782 8.36684 9.21782 9.63317 8.34655 10.4142L1 17"
                    stroke="#6A6A6A"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </div>
            <div class="swiper__pagination swiper-pagination-wr is-center mobile-visible"></div>
          </div>
        </section>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
