:root {
  --primary-green: #114335;
  --primary-orange: #ea5c21;
  --red: #ff0400;
  --black: #2e2e2e;
  --grey-80: #6a6a6a;
  --grey-60: #9f9f9f;
  --grey-40: #c0c0c0;
  --grey-20: #ebebeb;
  --white: #ffffff;

  --container-padding: 30px;
  --section-margin-bottom-l: 140px;
  --section-margin-bottom-s: 100px;
  --header-height: 108px;
  --base-page-padding-top: 40px;

  --font-family: "Roboto Flex", serif;

  --mobile-bottom-bar-height: 50px;
}

@media screen and (max-width: $lg) {
  :root {
    --container-padding: 13px;
    --section-margin-bottom-l: 70px;
    --section-margin-bottom-s: 50px;
    --header-height: 74px;
  }
}

body,
html {
  &.noskroll {
    overflow: hidden;
  }
}

html {
  width: 100%;
  height: stretch;
}

body {
  position: relative;
  min-height: stretch;
  min-width: 320px;
  background: var(--grey20);
  color: var(--black);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $lg) {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;

  &.is-initial {
    max-width: initial;
    max-height: initial;
  }

  &.fit-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

video {
  max-width: 100%;
  max-height: 100%;

  &.is-initial {
    max-width: initial;
    max-height: initial;
  }

  &.fit-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

strong {
  font-weight: 600;
}

.semibold {
  font-weight: 500;
}

ul {
  list-style-position: inside;

  li {
    list-style-type: square;
  }
}

i {
  font-style: italic;
}

.hidden {
  display: none !important;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: calc(1400px + var(--container-padding) * 2);
  margin-left: auto;
  margin-right: auto;
}

.container-padding {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.content-container {
  max-width: 950px;
  margin: 0 auto;
}

.page {
  padding-top: var(--header-height);
  min-height: 100vh;
  padding-bottom: 100px;
  margin-top: var(--base-page-padding-top);

  @media screen and (max-width: $md) {
    padding-bottom: 40px;
  }
}

[data-popup] {
  cursor: pointer;
}

.editior-content {
  img {
    margin-bottom: 20px;

    @media screen and (max-width: $sm) {
      margin-bottom: 10px;
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    & + .breadcrumbs__item {
      &::before {
        content: "—";
      }
    }
  }

  &__link {
    color: var(--gray-60);

    @include Base-14(400);
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #000;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: #fff #000;
    scrollbar-width: thin;
  }
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.text-link {
  transition: 0.2s;

  &:hover {
    color: var(--primary-orange);
  }
}

.orange-link {
  color: var(--primary-orange);
  transition: 0.2s;

  &:hover {
    color: var(--primary-gren);
  }
}

.more-link {
  display: flex;
  align-items: center;
  color: var(--primary-green);
  gap: 8px;
  flex-shrink: 0;

  @include Base-14(400);

  &__arrow {
    svg {
      width: 16px;
      height: 16px;
    }
    path {
      stroke: currentColor;
    }
  }
}

.is-gray-text {
  color: var(--grey-80);
}

.base-16 {
  @include Base-16(400);

  @media screen and (max-width: $sm) {
    @include Base-14(400);
  }
}

.sub-20 {
  @include Sub-20(400);

  @media screen and (max-width: $sm) {
    @include Sub-18(400);
  }
}

.page-section {
  margin-bottom: var(--section-margin-bottom-s);

  &:last-child {
    margin-bottom: 0;
  }
}

.page-section__subtitle {
  color: var(--grey-80);
}

.page-section__title {
  margin-bottom: 40px;

  @media screen and (max-width: $sm) {
    margin-bottom: 20px;
  }

  .page-section__title-wr & {
    margin-bottom: 0 !important;
  }
}

.page-section__title-wr {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media screen and (max-width: $sm) {
    margin-bottom: 20px;
  }
}

.is-text-upper {
  text-transform: uppercase;
}

.is-text-center {
  text-align: center;
}

h1,
.h1 {
  @include Header-H1(500);

  @media screen and (max-width: $lg) {
    @include Header-H2(500);
  }

  @media screen and (max-width: $sm) {
    @include Header-H3(500);
  }
}

h2,
.h2 {
  @include Header-H2(500);

  @media screen and (max-width: $lg) {
    @include Header-H3(500);
  }

  @media screen and (max-width: $sm) {
    @include Header-H4(500);
  }
}

h3,
.h3 {
  @include Header-H3(500);

  @media screen and (max-width: $lg) {
    @include Header-H4(500);
  }

  @media screen and (max-width: $sm) {
    @include Header-H5(500);
  }
}

h4,
.h4 {
  @include Header-H4(500);

  @media screen and (max-width: $lg) {
    @include Header-H5(500);
  }

  @media screen and (max-width: $sm) {
    @include Header-H6(500);
  }
}

h5,
.h5 {
  @include Header-H5(500);

  /*   @media screen and (max-width: $sm) {
    font-size: 1.6rem;
    line-height: 120%;
  } */
}

h6,
.h6 {
  @include Header-H6(500);

  /*   @media screen and (max-width: $sm) {
    font-size: 1.2rem;
    line-height: 120%;
  } */
}

.button {
  text-align: center;
  padding: 0 19px;
  transition: 0.3s;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  @include Base-16(400);

  @media screen and (max-width: $sm) {
    padding: 0 10px;
  }

  &:hover {
    .button__arrow path {
      stroke: currentColor;
    }
  }

  &.is-primary {
    color: var(--white);
    background: var(--primary-orange);
    border-color: var(--primary-orange);

    &:hover {
      color: var(--balck);
      background: transparent;
    }
  }

  &.is-ghost {
    background: transparent;
    color: var(--primary-green);
    border-color: var(--grey-20);

    &:hover {
      background: var(--primary-orange);
      color: var(--white);
    }
  }

  &.is-green {
    color: var(--white);
    background: var(--primary-green);
    border-color: var(--primary-green);

    &:hover {
      color: var(--balck);
      background: transparent;
    }
  }

  &.is-black {
    color: var(--white);
    background: var(--black);
    border-color: var(--black);

    &:hover {
      color: var(--white);
      background: var(--primary-orange);
      border-color: var(--primary-orange);
    }
  }

  &.is-white {
    color: var(--black);
    background: var(--white);
    border-color: var(--white);

    &:hover {
      color: var(--white);
      background: var(--primary-orange);
      border-color: var(--primary-orange);
    }
  }

  &.is-tiny {
    height: 28px;

    @include Base-14(400);
  }

  &.is-center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: max-content;
  }
}

.swiper-arrows-wr {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-top: 40px;
}

.swiper-arrow {
  width: 48px;
  height: 48px;
  background: var(--grey-20);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;

  /*   @media screen and (max-width: $sm) {
    width: 3rem;
    height: 10rem;
  } */

  /*   &.is-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  &.is-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  } */

  &.swiper-button-disabled {
    opacity: 0.3;
    cursor: initial;
  }

  &.swiper-button-lock {
    display: none;
  }
}

.swiper-pagination-wr {
  margin-top: 20px;

  .swiper-pagination-bullet {
    background: var(--primary-orange) !important;
  }
}

.swiper__pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content !important;

  &.is-center {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--white);
    opacity: 0.5;
    transition: 0.2s;
    margin: 0 !important;

    &.swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
  }
}

.page-banner {
  height: 375px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  @media screen and (max-width: $sm) {
    height: auto;
    height: 250px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1);
      z-index: 5;
    }
  }
}

.page-banner__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 80px;
  padding: 32px;
  z-index: 10;

  @media screen and (max-width: $sm) {
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 32px 10px;
  }
}

.page-banner__title {
  color: var(--white);
  max-width: 500px;

  @media screen and (max-width: $sm) {
    max-width: 100%;
    text-align: center;

    @include Header-H4(500);
  }
}

.form-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 356px;
  gap: 10px;

  @media screen and (max-width: $lg) {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
}

.form-section__box {
  height: 100%;
  background: var(--primary-green);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $lg) {
    padding: 30px 0;
    height: auto;
  }

  @media screen and (min-width: $sm) {
    .textarea {
      height: 100%;
    }
  }
}

.form-section__image {
  @media screen and (max-width: $lg) {
    display: none;
  }
}

.form-section__form {
  max-width: 454px;
  width: 100%;
  padding: 10px;
}

.form-section__fields {
  height: 116px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 16px;

  @media screen and (max-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 4px;
    height: auto;
  }
}

.form-section__fields-left {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.form-section__form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  padding-top: 16px;

  @media screen and (max-width: $sm) {
    flex-direction: column;
    gap: 20px;
  }
}

/* .tabs {
  width: 100%;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__button {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    color: var(--grey40);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.02em;

    &.is-active {
      color: var(--black);
    }
  }

  &__content-box {
    display: none;

    &.is-active {
      display: block;
    }
  }
} */

/* .swiper-scrollbar {
  background: none;
  position: relative;
  bottom: -6rem !important;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #dadada;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .swiper-scrollbar-drag {
    background: #000;
    border-radius: 3px;
  }
} */

/* .swiper__pagination.swiper-pagination-progressbar {
  height: 1px;
  background: #fff;
}

.swiper__pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff;
  height: 0.5rem;
  top: -0.2rem;
  border-radius: 1rem;
  overflow: hidden;
}



 */

.js-accordion-item-header {
  position: relative;
}

.js-accordion-item__content {
  overflow: hidden;
  transition: 0.3s;
  max-height: 0;

  &.is-active {
    max-height: initial !important;
  }
}

/* .accordion-item {
  &__button {
    flex-shrink: 0;
    width: 0.9rem;
    height: 0.6rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
    background: url(../img/catalog-accordion-arrow.svg) center no-repeat;
    background-size: 0.9rem 0.6rem;
    transition: 0.3s;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 4rem;
    padding: 2.5rem 4rem 2.5rem 0;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $lg) {
      padding: 2rem 3rem 2rem 0;
    }

    &-text {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 140%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: var(--black);

      @media screen and (max-width: $lg) {
        font-size: 1.2rem;
      }
    }

    &.is-active {
      .accordion-item__button {
        transform: translate(0, -50%) rotate(0);
      }
    }
  }

  &__content {
    border-bottom: 1px solid #dadada;

    &-inner {
      padding: 0 0 4rem 0;
      width: calc(100% - 5rem);
      font-size: 1.6rem;

      @media screen and (max-width: $sm) {
        padding: 0 0 2rem 0;
        width: 100%;
        font-size: 1.2rem;
      }
    }
  }
} */
