.catalog-card {
  background: var(--grey-20);
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  position: relative;
}

.catalog-card__list-top-info,
.catalog-card__list-footer-info {
  display: none;
}

.catalog-card__price-line .catalog-card__top-btns {
  .catalog-grid:not(.is-list) & {
    display: none !important;
  }
}

.catalog-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.catalog-card__articul {
  @include Base-11(409);

  @media screen and (max-width: $md) {
    display: flex;
    flex-direction: column;
  }
}

.catalog-card__articul-label {
  color: var(--grey-60);
}

.catalog-card__top-btns {
  display: flex;
  align-items: center;
  gap: 4px;
}

.catalog-card__top-btn {
  cursor: pointer;

  &.is-comparison.is-active {
    path {
      stroke: var(--primary-green);
    }
  }

  &.is-favorite.is-active {
    path {
      fill: var(--primary-green);
    }
  }
}

.catalog-card__center {
  position: relative;
  height: 175px;
  margin-bottom: 8px;
}

.catalog-card__image-box {
  background: var(--white);
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.catalog-card__image {
  max-height: 100%;
  max-width: 100%;
}

.catalog-card__tags {
  position: absolute;
  left: 8px;
  top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 5;
}

.catalog-card__tag {
  border-radius: 40px;
  padding: 0 4px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;

  &.is-new {
    background: var(--primary-green);
    border-color: var(--primary-green);
  }

  &.is-sale {
    background: var(--primary-orange);
    border-color: var(--primary-orange);
  }
}

.catalog-card__bonuses {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 20px;
  border: 0.5px solid var(--grey-40);
  border-radius: 40px;
  padding: 0 8px;
}

.catalog-card__bonuses-value {
  color: var(--primary-orange);

  @include Base-11(400);
}

.catalog-card__vendor {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.catalog-card__title {
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @include Base-12(400);
}

.catalog-card__price-line {
  margin-bottom: 12px;
}

.catalog-card__price {
  padding-right: 6px;

  @include Base-16(600);
}

.catalog-card__price-additional {
  color: var(--grey-60);

  @include Base-12(400);
}

.catalog-card__cart-section {
  margin-bottom: 12px;
}

.catalog-card__counter {
  border: 0.5px solid var(--grey-40);
  border-radius: 4px;
  display: flex;
  height: 28px;
  overflow: hidden;
  width: max-content;
  flex-shrink: 0;
  width: 96px;
}

.catalog-card__counter-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  background: var(--white);
  cursor: pointer;
  flex-shrink: 0;
}

.catalog-card__counter-input {
  height: 100%;
  width: 100%;
  min-width: 48px;
  border-left: 0.5px solid var(--grey-40);
  border-right: 0.5px solid var(--grey-40);

  input {
    height: 100%;
    width: 100%;
    background: var(--white);
    text-align: center;
    border: none;
    display: block;

    @include Base-11(400);
  }
}

.catalog-card__cart-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.catalog-card__cart-button {
  width: 100%;
  user-select: none;
}

.catalog-card__availability {
  display: flex;
  align-items: center;
  gap: 3px;
  width: max-content;
  user-select: none;
}

.catalog-card__availability-text {
  color: var(--primary-green);
  border-bottom: 0.3px dashed currentColor;

  .is-out & {
    color: var(--grey-80);
  }

  @include Base-10(400);
}

.catalog-card__availability-counter {
  color: var(--grey-80);

  @include Base-10(400);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;

  @media screen and (max-width: $xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  .catalog-card {
    height: 100%;
  }
}

.products-grid__item-banner {
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  max-height: 420px;
}

.catalog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.catalog-pagination__arrow {
  display: flex;
  align-items: center;
  color: var(--grey-80);
  gap: 8px;

  @include Base-14(400);
}

.catalog-pagination__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.catalog-pagination__button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0.5px solid var(--grey-40);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: 0.2s;

  @include Base-14(400);

  &:not(.is-empty):hover {
    border-color: var(--primary-orange);
  }

  &.is-active {
    background: var(--primary-orange);
    color: var(--white);
    border-color: var(--primary-orange);
  }

  &.is-empty {
    border-color: transparent;
  }

  @media screen and (max-width: $sm) {
    width: 38px;
    height: 38px;
  }
}

.catalog-page {
  display: grid;
  grid-template-columns: 248px 1fr;
  gap: 40px;

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;

    .catalog-page__sidebar {
      display: none;
    }
  }
}

.catalog-page__main {
  .catalog-pagination {
    margin-top: 80px;

    .catalog-pagination__arrow {
      @media screen and (max-width: $xl) {
        display: none;
      }
    }
  }
}

.catalog-page-nav {
  padding-top: 3px;
}

.catalog-page-nav__accordion-item {
  .js-accordion-item__content-inner {
    padding-left: 8px;
  }

  &.is-main > {
    .js-accordion-item-header {
      border-bottom: 1px solid var(--grey-20);
    }

    .js-accordion-item__content > .js-accordion-item__content-inner {
      padding-top: 16px;
    }
  }
}

.catalog-page-nav__accordion-item-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
}

.catalog-page-nav__accordion-item-header-text {
  color: var(--grey-80);

  @include Base-14(400);

  span {
    color: var(--grey-60);
  }

  .is-current & {
    color: var(--primary-green);
  }
}

.catalog-page-nav__accordion-item-header-button {
  flex-shrink: 0;
  transition: 0.2s;

  .js-accordion-item-header.is-active & {
    transform: rotate(90deg);
  }
}

.catalog-page__sort {
  display: flex;
  align-items: center;
  gap: 16px;

  .checkbox-input {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .checkbox-input__placeholder {
    color: var(--black);

    @include Base-14(400);
  }
}

.catalog-page__sort--first {
  @media screen and (max-width: $xl) {
    width: 100%;
  }
}

.catalog-page__sort-label {
  @include Base-14(400);
}

.catalog-page__sort-buttons {
  display: flex;
  align-items: center;
  gap: 2px;
}

.catalog-page__sort-button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  padding: 0 8px;
  border-radius: 40px;
  border: 1px solid transparent;
  transition: 0.2s;

  @include Base-14(400);

  &.is-active {
    background: var(--primary-green);
    color: var(--white);
    path {
      stroke: currentColor;
    }
  }

  &:hover {
    border-color: var();
  }
}

.catalog-grid-type {
  display: flex;
  align-items: center;
  gap: 16px;
}

.catalog-grid-type__item {
  cursor: pointer;

  &.is-active {
    path {
      stroke: var(--black);
    }
  }
}

.catalog-page__top {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.catalog-page__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $xl) {
    flex-wrap: wrap;
  }
}

.catalog-page__top-tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.catalog-page__top-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 40px;
  height: 28px;
  background: var(--grey-20);
  padding: 0 12px;

  @include Base-14(500);
}

.catalog-page__top-products-count {
  display: flex;
  align-items: center;
  gap: 8px;
}

.catalog-page__top-products-count-label {
  @include Base-14(400);
}

.catalog-page__top-products-count-select {
  width: 60px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media screen and (max-width: $xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.is-list {
    grid-template-columns: 1fr;

    .catalog-card {
      display: flex;
      background: none;
      border-bottom: 1px solid var(--grey-20);
      min-height: 88px;
      border-radius: 0;

      @media screen and (max-width: $md) {
        padding-left: 100px;
        flex-direction: column;
      }
    }

    .catalog-card__cart-section {
      flex-direction: column;
      justify-content: space-between;
      width: 110px;
      margin: 0;

      @media screen and (max-width: $md) {
        flex-direction: row;
        width: 100%;
      }
    }

    .catalog-card__counter {
      width: 100%;
      justify-content: center;

      @media screen and (max-width: $md) {
        width: 115px;
      }
    }

    .catalog-card__center {
      width: 100px;
      height: 80px;
      flex-shrink: 0;
      margin: 0 20px 0 0;

      .catalog-card__tags,
      .catalog-card__bonuses {
        display: none;
      }

      @media screen and (max-width: $md) {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
      }
    }

    .catalog-card__image-box {
      background: none;
      padding: 0;
    }

    .catalog-card__top {
      display: none;
    }

    .catalog-card__list-top-info {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 8px;

      .catalog-card__tags {
        position: unset;
        flex-direction: row;
      }

      .catalog-card__bonuses {
        position: unset;
      }
    }

    .catalog-card__title {
      margin: 0;
      height: auto;
      max-width: 365px;

      @include Base-16(400);

      @media screen and (max-width: $md) {
        margin-bottom: 12px;

        @include Base-14(400);
      }
    }

    .catalog-card__price-line {
      margin: 0;
    }

    .catalog-card__footer {
      @media screen and (min-width: $md) {
        display: none;
      }

      @media screen and (max-width: $md) {
        margin-top: 16px;
      }
    }

    .catalog-card__list-footer-info {
      display: block;

      .catalog-card__availability-text {
        @include Base-14(400);
      }

      @media screen and (max-width: $md) {
        display: none;
      }
    }

    .catalog-card__price-line-wr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;

      @media screen and (max-width: $md) {
        margin: 0 0 10px;
      }
    }

    .catalog-card__counter {
      width: auto;
    }

    .catalog-card__price-line {
      display: flex;
      align-items: center;

      .catalog-card__top-btns {
        padding-left: 50px;

        @media screen and (max-width: $md) {
          padding: 0;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

.catalog-page-content {
  margin-top: 60px;
  color: var(--grey-80);

  b,
  strong {
    color: var(--black);
  }

  @include Base-12(400);
}

.catalog-card__availability-content {
  @media screen and (min-width: $sm) {
    width: 230px;
    padding: 12px;
  }
}

.catalog-card__availability-content-title {
  padding-bottom: 5px;
  border-bottom: 0.3px solid var(--grey-20);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include Base-12(400);

  @media screen and (max-width: $sm) {
    @include Sub-18(400);
  }
}

.catalog-card__availability-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  gap: 20px;
  border-bottom: 0.3px solid var(--grey-20);

  @include Base-10(400);

  @media screen and (max-width: $sm) {
    @include Base-16(400);
    padding: 8px 0;
  }
}

.catalog-card__availability-content-wrapper {
  display: none;
}

@media screen and (max-width: $sm) {
  [data-tippy-root] {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
  }

  .tippy-arrow {
    display: none !important;
  }

  .tippy-content {
    padding: 18px 12px 12px;
  }

  .tippy-box {
    width: 100%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }
}
