.contacts-map-section__map {
  height: 240px;
  margin-bottom: 40px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: $sm) {
    margin-bottom: 20px;
  }
}

.contacts-map-section__map-button {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}

.contacts-map-section__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--grey-20);

  @media screen and (max-width: $md) {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
  }
}

.contacts-map-section__info-adress {
  max-width: 230px;
}

.contacts-map-section__info-adress-label {
  color: var(--grey-80);
  margin-bottom: 24px;

  @include Base-14(400);
}

.contacts-map-section__info-adress-value {
  @include Base-16(400);
}

.contact-section {
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: $lg) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-section__box {
  &:first-child {
    border-right: 1px solid var(--grey-20);

    @media screen and (max-width: $lg) {
      border-right: none;
      border-bottom: 1px solid var(--grey-20);
      padding-bottom: 20px;
    }
  }
}

.contact-section__box-title {
  margin-bottom: 65px;

  @media screen and (max-width: $md) {
    margin-bottom: 30px;
  }
}

.contact-section__box-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 20px;

  @media screen and (max-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.contact-section__box-label {
  margin-bottom: 24px;
  color: var(--grey-80);

  @include Base-14(400);

  @media screen and (max-width: $sm) {
    margin-bottom: 12px;
  }
}

.contact-section__box-value {
  @include Base-16(400);

  @media screen and (min-width: $sm) {
    height: 70px;
  }
}

.team-section__anchors {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;

  @media screen and (max-width: $md) {
    margin-bottom: 20px;
    overflow: auto;
    flex-wrap: nowrap;
  }
}

.team-section__anchors-item {
  color: var(--grey-60);
  border-bottom: 1px dashed currentColor;
  transition: 0.3s;

  @include Sub-18(400);

  &:hover {
    color: var(--primary-orange);
    border-color: transparent;
  }

  @media screen and (max-width: $md) {
    flex-shrink: 0;
  }
}

.team-section__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.team-section__box-row-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (max-width: $sm) {
    overflow: auto;
    flex-wrap: nowrap;
  }
}

.team-section__box-row-tile {
  margin-bottom: 20px;

  @include Sub-24(400);
}

.team-card {
  border: 1px solid var(--grey-40);
  border-radius: 4px;
  padding: 10px 10px 0 10px;
  width: 222px;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: $sm) {
    flex-shrink: 0;
  }
}

.team-card__img-wr {
  margin-bottom: 5px;
  aspect-ratio: 1 / 1;
}

.team-card__name {
  color: var(--primary-green);
  text-align: center;
  margin-bottom: 0;

  @include Base-16(400);
}

.team-card__post {
  color: var(--grey-80);
  text-align: center;

  @include Base-14(400);
}

.team-card__phone-wr {
  text-align: center;
  display: flex;
  justify-content: center;
}

.team-card__phone-dop {
  padding-left: 4px;
  border-left: 1px solid var(--grey-40);
  display: flex;
  align-items: center;

  @include Base-12(400);
}

.team-card__phone {
  text-align: center;

  @include Base-12(400);
}

.team-card__main-phone {
  text-align: center;

  @include Base-14(600);
}

.team-card__main-phone-2 {
  text-align: center;

  @include Base-14(400);
}

.team-card__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card__phone-box {
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}

.team-card__email-wr {
  text-align: center;
}

.team-card__email {
  text-align: center;
  text-decoration: underline;

  @include Base-12(400);
}
