.order-card {
}

.order-card__top {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-80);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.order-card__top-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.order-card__top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.order-card__date,
.order-card__status {
  color: var(--grey-80);

  @include Base-14(400);
}

.order-card__top-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary-green);
  cursor: pointer;
  height: 28px;
  padding: 0 6px;
  transition: 0.2s;

  @include Base-14(400);

  &.is-dell {
    color: var(--grey-60);
  }

  &.is-order {
    background: var(--grey-20);
  }

  &:hover {
    color: var(--primary-orange);
  }
}

.order-card__products-list-wr {
  padding-top: 24px;
  border-bottom: 1px solid var(--grey-80);
  margin-bottom: 32px;
}

.order-card-product {
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--grey-20);
  }
}

.order-card-product__img {
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.order-card-product__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

  @media screen and (max-width: $md) {
    flex-wrap: wrap;
  }
}

.order-card-product__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 355px;
}

.order-card-product__articul {
  @include Base-11(400);
}

.order-card-product__articul-label {
  color: var(--grey-60);
}

.order-card-product__name {
  transition: 0.2s;
  color: var(--primary-green);

  @include Base-14(400);

  &:hover {
    color: var(--primary-orange);
  }
}

.order-card-product__counter {
  color: var(--grey-80);
  flex-shrink: 0;

  @include Base-14(400);

  @media screen and (max-width: $md) {
    width: calc(50% - 20px);
  }
}

.order-card-product__price {
  flex-shrink: 0;

  @include Base-14(400);

  @media screen and (max-width: $md) {
    width: calc(50% - 20px);
    text-align: right;
  }
}

.order-card-product__check {
  position: absolute;
  left: 8px;
  top: 16px;
  z-index: 50;
}

.order-card__total-wr {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-80);
}

.order-card__total {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 454px;
  width: 100%;
  margin: 0 0 0 auto;

  @media screen and (max-width: $md) {
    max-width: 100%;
  }
}

.order-card__total-pay {
  width: max-content;
  margin: 0 0 50px auto;

  @media screen and (max-width: $md) {
    width: 100%;
    margin: 0 0 0 auto;
  }
}

.order-card__total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.is-sum {
    padding-top: 24px;
    border-top: 1px solid var(--grey-20);
  }
}

.order-card__total-row-label {
  color: var(--grey-80);

  @include Base-14(400);

  .is-sum & {
    color: var(--black);

    @include Sub-24(400);

    @media screen and (max-width: $md) {
      @include Sub-20(400);
    }
  }
}

.order-card__total-row-value {
  @include Base-14(400);

  .is-sum & {
    @include Sub-24(400);

    @media screen and (max-width: $md) {
      @include Sub-20(400);
    }
  }
}

.order-card__contact {
  padding-top: 24px;
}

.order-card__contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  margin-bottom: 24px;
  padding-right: 45px;
  border-bottom: 1px solid var(--grey-20);

  @media screen and (max-width: $md) {
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.order-card__contact-row-label {
  @include Sub-18(400);
}

.order-card__contact-row-value {
  color: var(--grey-80);
  width: 290px;

  @include Base-16(400);

  @media screen and (max-width: $md) {
    width: auto;
  }
}

.order-card__table {
  width: 100%;
  min-width: max-content;

  thead tr {
    background: var(--grey-20);
    border: 1px solid var(--primary-green);

    td {
      height: 65px;
      @include Base-16(400);

      &:first-child {
        padding-left: 16px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--grey-20);

      &:last-child {
        border: none;
      }
    }
    tr {
      td {
        position: relative;
        padding-right: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
        @include Base-14(400);

        &:first-child {
          padding-left: 16px;
        }
      }

      &.order-card__table-total {
        &.is-bordered {
          border-bottom: 1px solid var(--primary-green);
        }

        td {
          @include Sub-18(400);

          div {
            text-align: right;
          }

          .is-value {
            padding-bottom: 14px;
            margin-bottom: -18px;
            border-bottom: 2px solid currentColor;
          }
        }
      }
    }
  }
}

.order-card__product-dell {
  border: none;
  background: none;
}

.order-card-product__top-btn {
  position: absolute;
  top: 6px;
  left: 100px;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;

  &.is-active {
    path {
      fill: var(--primary-green);
    }
  }
}

.order-card__table-separator-row {
  span {
    @include Sub-24(400);

    &:not(.is-gray-text) {
      color: var(--primary-green);
    }
  }
}
